{% extends 'base_layout.html.twig' %}

{% block title %}{{ parent() }} - Les fruits{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fruits.css') }}">
{% endblock %}

{% block content %}
    <ul class="fruit-list">
        {% for fruit in fruitList %}
            <li>
                {% if loop.index is divisible by(2) %}
                    <strong>{{ fruit }}</strong>
                {% else %}
                    {{ fruit }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for food in foodList if food.type!='métal' %}
            <li>
                {{ food.name }} est de type {{ food.type }}
                c'est {{ food.edible?'':'pas' }} mangeable
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('hellopage', {age:'15'}) }}">Lien vers hello</a>

    <a href="{{ path('hellopage', {age:'75', firstName:'Tycho', name:'Brahé'}) }}">
        Lien vers hello Tycho Brahé
    </a>

{% endblock %}

